@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
