/*  global variables  */

/*  colors  */
$color-white: #ffffff;
$color-black: #000;
$color-blue: #00f;
$color-red: #f00;

/* fonts */
$font-family-extra-bold: Teko, sans-serif;
$font-family-bold: Montserrat, sans-serif;
$font-family-light: Josefin Sans, sans-serif;

$font-xlarge: 40px;
$font-large: 30px;
$font-medium: 26px;
$font-small: 14px;
$font-xsmall: 10px;
