/*  track variables  */

@import '../../../styles/variables';
@import '../../../styles/media-queries';
@import '../../../styles/utils';

// size
$track-disp-height-xs: 100%;
$track-disp-width-xs: 100%;
$track-disp-height-md: 300px;
$track-disp-width-md: 300px;
$track-disp-height-xl: 400px;
$track-disp-width-xl: 400px;

$track-overlay-gradient-a: $color-red;
$track-overlay-gradient-b: $color-blue;

$track-name-fsize: $font-small;
$track-albumname-fsize: $font-xsmall;

@mixin track-sizes {
  width: $track-disp-height-xs;
  height: $track-disp-height-xs;

  @include md-up {
    width: $track-disp-height-md;
    height: $track-disp-height-md;
  }

  @include xl-only {
    width: $track-disp-height-xl;
    height: $track-disp-height-xl;
  }
}
