<div class="config-bar">
  <div class="config-item" (click)="toggleAlbumArt()">
    <i class="fas fa-eye" *ngIf="!configBarState.displayAlbumArt"></i>
    <i class="fas fa-eye-slash" *ngIf="configBarState.displayAlbumArt"></i>
    <span>Toggle Album Art</span>
  </div>
  <div class="config-item" (click)="toggleAlbumArtVisibility()">
    <i class="fas fa-map-pin"></i>
    <span>Album Art Fixed</span>
  </div>
  <div class="config-item" (click)="changeViewerBackground()">
    <i class="fas fa-magic"></i>
    <span>New Background</span>
  </div>
</div>
