<div class="track-wrapper">
  <div
    class="track-display"
    *ngIf="trackDetails"
    [ngStyle]="{
      'background-image': getAlbumImageUrl()
    }"
  >
    <div class="track-overlay"></div>
  </div>
  <div class="extras-container">
    <ul class="track-info">
      <li class="track-name">{{ trackDetails.trackName }}</li>
      <li class="track-artist">{{ trackDetails.artistName }}</li>
      <li class="track-album">{{ trackDetails.album.name }}</li>
    </ul>
    <app-track-controls
      [isPaused]="isPaused"
      [onTogglePlay]="onTogglePlay"
    ></app-track-controls>
  </div>
</div>
