<div class="track-wrapper">
  <div
    class="track-display"
    *ngIf="trackDetails"
    [ngStyle]="{
      'background-image': getAlbumImageUrl()
    }"
  >
    <div class="track-overlay"></div>
  </div>
  <div class="extras-container">
    <div class="track-info">
      <span class="track-name">
        {{ trackDetails.trackName }} ({{ trackDetails.artistName }})
      </span>
      <span class="track-album">{{ trackDetails.album.name }}</span>
    </div>
    <app-track-controls
      [isPaused]="isPaused"
      [onTogglePlay]="onTogglePlay"
    ></app-track-controls>
  </div>
</div>
