<div
  class="viewer-container"
  [ngStyle]="{
    width: getWindowWidthtPx(),
    height: getWindowHeightPx(),
    'background-image': getBgImageStyle()
  }"
  (window:resize)="onResize($event)"
>
  <app-config-bar></app-config-bar>
  <app-track-display
    *ngIf="isConnected"
    [trackDisplayData]="getTrackDetails() | async"
    [isPaused]="playerData.paused"
    [onTogglePlay]="onTogglePlay"
  ></app-track-display>
  <app-spotify-connect-leyend *ngIf="!isConnected"></app-spotify-connect-leyend>
</div>
